.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: url("../img/red-bg.jpg") no-repeat center / 100% 100%;
  z-index: 30;
  &__contpre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__left {
    position: relative;
    z-index: 99;
    width: 37%;
    animation: move-left 12s cubic-bezier(0, 0, 1, 1);
    -webkit-animation: move-left 12s cubic-bezier(0, 0, 1, 1);
  }
  &__right {
    position: relative;
    z-index: 99;
    width: 37%;
    animation: move-right 12s cubic-bezier(0, 0, 1, 1);
    -webkit-animation: move-right 12s cubic-bezier(0, 0, 1, 1);
  }
  &__next-part {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -202px 0 0 -170px;
    display: none;
    animation: animation-scale 3s cubic-bezier(0, 0, 1, 1);
    animation-fill-mode: forwards;
    animation-delay: 2.8s;
  }
  &__logo {
    &--left{
      height: 400px;
      animation: move-left-img 2.8s cubic-bezier(0, 0, 1, 1);
      animation-fill-mode: forwards;
    }
    &--right{
      height: 400px;
      animation: move-right-img 2.8s cubic-bezier(0, 0, 1, 1);
      animation-fill-mode: forwards;
    }
  }
}

.main {
  @extend %flexbox;
  justify-content: center;
  align-items: center;
  background: url("../img/letter.png") no-repeat center / 70%;
  opacity: 0;
  &__photo {
    width: 13%;
    @include screen-1024 {
      width: 15%;
    }
    @include screen-679 {
      width: 30%;
    }
  }
  &.animate{
    opacity: 1;
    //animation: animate 1.6s cubic-bezier(0, 0, 1, 1);
  }
}

.concerts {
  @extend %main-content;
  @extend %flexbox;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: $text-color;
  @include screen-679 {
    justify-content: center;
  }
  &__photo {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 10%;
    @include screen-679 {
      display: none;
    }
  }
  &__block {
  }
  &__caption {
    margin-bottom: 30px;
    font-weight: 700;
  }
  &__list {
    font-weight: 300;
    line-height: 1.667;
    &--date {
      font-weight: 700;
    }
  }
}

.music {
  @extend %main-content;
  @extend %flexbox;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: $text-color;
  &__photo {
    width: 15%;
    @include screen-1024 {
      display: none;
    }
  }
  &__list {
    width: 836px;
    @extend %flexbox;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
    @include screen-1615 {
      width: 55%;
    }
    @include screen-1024 {
      width: 100%;
      align-items: center;
    }
    @include screen-679 {
      display: block;
    }
  }
  &__item {
    width: 43.3%;
    @extend %flexbox;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 15px;
    background: url("../img/pr.png") no-repeat center / 100%;
    @include screen-679 {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px 0;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 300;
  }
}

.contacts {
  @extend %main-content;
  @extend %flexbox;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: -50px;
  font-size: 18px;
  font-weight: 400;
  color: $text-color;
  @include screen-1615 {
    top: 20px;
    align-items: center;
  }
  @include screen-679 {
    top: 0;
    justify-content: center;
    align-items: flex-start;
  }
  &__photo {
    width: 15%;
    @include screen-679 {
      display: none;
    }
    &:first-child, &:nth-child(5) {
      @include screen-1024 {
        display: none;
      }
    }
  }
  &__caption {
    font-weight: 600;
    color: $main-color;
  }
  &__info {
    @extend %flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &>* {
      line-height: 50px;
      @include screen-1024 {
        line-height: 30px;
      }
    }
  }
  &__mail {
    &--bottom {
      margin-bottom: 40px;
      @include screen-1024 {
        margin-bottom: 20px;
      }
    }
  }
  &__modal {
    margin: 60px 0 110px 0;
    padding: 0 20px;
    background: $main-color;
    @include screen-1024 {
      margin: 20px 0;
    }
  }
  a {
    color: $text-color;
  }
  &__popup {
    width: 500px;
    height: auto;
    border: 2px $main-color solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    display: none;
    opacity: 0;
    z-index: 11;
    @include screen-679 {
      width: 100%;
      height: auto;
      left: 0;
      margin-left: 0;
      box-sizing: border-box;
    }
  }
  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: block;
  }
  &__overlay {
    z-index:10;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
  }
  .form {
    width: 100%;
    display: inline-block;
    padding: 25px;
    &__field {
      margin-bottom: 10px;
    }
    &__error {
      color: $main-color;
      text-align: left;
      font-size: 12px;
      display: block;
      margin-top: 3px;
      display: none;
    }
    input, textarea {
      outline: none;
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: $main-color;
    }
    &__send {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      border: 0;
      background-color: $main-color;
      color: $text-color !important;
      border: none !important;
    }
  }
  .help-block {
    color: $main-color;
  }
  .form-group {
    margin-top: 10px;
  }
}

.video {
  @extend %main-content;
  @extend %flexbox;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  &__photo {
    position: absolute;
    left: 0;
    width: 37%;
    bottom: -89px;
    @include screen-1024 {
      display: none;
    }
  }
  &__block {
    @extend %flexbox;
    justify-content: space-between;
    align-items: center;
    width: 61%;
    overflow: auto;
    @include screen-1024 {
      width: 100%;
      margin-top: 20px;
    }
    @include screen-679 {
      justify-content: center;
      margin-top: 0;
    }
  }
  iframe {
    width: 48.5%;
    height: 244px;
    margin-bottom: 30px;
    @include screen-679 {
      width: auto !important;
      height: auto;
    }
  }
}

.pear {
  padding: 12px 0 12px 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: url("../img/pear.svg") no-repeat left center / 38px;
  color: $text-color;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 90px;
  right: -55px;
  &--color {
    color: #f7b339;
  }
}

@keyframes move-left {
  from {
    position: relative;
    left: 0;
    opacity: 1;
    filter: blur(0);
  }

  to {
    left: 300%;
    //filter: blur(3px);
  }
}

@keyframes move-right {
  from {
    position: relative;
    right: 0;
    opacity: 1;
    filter: blur(0);
  }

  to {
    right: 300%;
    //filter: blur(3px);
  }
}

@keyframes animate {
  from {
    opacity: 0;
    transform: scale(1.2);
    filter: blur(1.4px);
  }

  50% {
    opacity: .4;
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@-webkit-keyframes move-left-img {
  from {
    transform: translateX(100px);
    opacity: 0;
    filter: blur(3px);
  }

  20% {
    filter: blur(0);
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  to {
    transform: translateX(-41px);
  }
}

@-webkit-keyframes move-right-img {
  from {
    transform: translateX(-100px);
    opacity: 0;
    filter: blur(3px);
  }

  20% {
    opacity: 1;
    filter: blur(0);
  }

  98% {
    opacity: 1;
  }

  to {
    transform: translateX(41px);
  }
}

@keyframes animation-scale {
  from {
    transform: scale(1);
  }

  90% {
    opacity: 1;
    filter: blur(0);
  }

  to {
    filter: blur(5px);
    opacity: 0;
    transform: scale(2);
  }
}


input:valid:not(:placeholder-shown), textarea:valid:not(:placeholder-shown) {
  border-color: green;
}
input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown) {
  border-color: $main-color;
}
input:invalid:not(:placeholder-shown) + .form__error, textarea:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.error-screen {
  text-align: center;
  font-size: 20px;
  color: $text-color;
}







