.footer {
  @extend %main-content;
  position: relative;
  z-index: 1;
  padding: 30px 0;
  @include screen-679 {
    display: flex;
    justify-content: center;
  }
  &__social {
    width: 195px;
    @extend %flexbox;
    justify-content: space-between;
    align-items: center;
    &.center {
      margin: 0 auto;
    }
  }
  &__link {
    display: block;
    &:nth-child(1), &:nth-child(2) {
      img {
        background: $text-color;
      }
    }
    &:last-child {
      img {
        padding: 0 2px;
        background: $main-color;
      }
    }
  }
  &__icon {
    width: auto;
    height: 26px;
  }
}