.header {
  @extend %main-content;
  @extend %flexbox;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 51px;
  color: $text-color;
  @include screen-1024 {
    align-items: center;
    padding-top: 10px;
  }
  @include screen-679 {
    height: 150px;
    align-items: flex-start;
  }
  &__logo {
    display: block;
  }
  svg {
    @include screen-679 {
      width: 50px !important;
    }
  }
  &__img {
    width: 88px;
  }

  &__nav {
    width: 510px;
    @extend %flexbox;
    justify-content: space-between;
    padding-top: 5px;
    @include screen-679 {
      display: none;
    }
  }

  &__link {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 300;
    color: $text-color;
    &:visited, &:active {
      &:after {
        transition: 0.5s;
        transform: translateY(7px) scale(1);
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $main-color;
      transform: translateY(7px) scale(0);
      display: block;
    }
    &:hover {
      &:after {
        transition: 0.5s;
        transform: translateY(7px) scale(1);
      }
    }
    &.active {
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        transform: translateY(7px) scale(1);
        background-color: $main-color;
      }
    }
  }
  .adaptive-menu {
    display: none;
    cursor: pointer;
    @include screen-679 {
      display: block;
    }
    &__full-menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      text-align: center;
      padding: 20px;
      z-index: 9999;
      box-sizing: border-box;
      background: $main-color;
      overflow: auto;
      .header__request {
        @include screen-1024 {
          display: block !important;
        }
        @include screen-679 {
          padding: 20px 30px;
        }
      }
    }
    &__close-menu {
      text-align: right;
    }
    &__menu-top {
      margin-top: 8vw;
    }
    &__link {
      display: block;
      padding: 20px;
      font-size: 24px;
      color: $text-color;
    }
  }
  .obj {
    position: relative;
    z-index: 9;
  }
}
