@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
@font-face {
  font-family: 'DFGothic-EB';
  src: url('../fonts/subset-DFGothic-EB-WIN-RKSJ-H.eot');
  src: url('../fonts/subset-DFGothic-EB-WIN-RKSJ-H.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-DFGothic-EB-WIN-RKSJ-H.woff2') format('woff2'),
  url('../fonts/subset-DFGothic-EB-WIN-RKSJ-H.woff') format('woff'),
  url('../fonts/subset-DFGothic-EB-WIN-RKSJ-H.ttf') format('truetype'),
  url('../fonts/subset-DFGothic-EB-WIN-RKSJ-H.svg#DFGothic-EB-WIN-RKSJ-H') format('svg');
  font-weight: normal;
  font-style: normal;
}

$main-color: #8a0f21;
$text-color: #fff;

@mixin screen-1615 {
  @media screen and (max-width: 1615px) {
    @content;
  }
}

@mixin screen-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen-679 {
  @media screen and (max-width: 679px) {
    @content;
  }
}

%main-content {
  max-width: 1559px;
  margin: 0 auto;
  @include screen-1615 {
    padding-left: 20px !important;
    padding-right: 20px !important;
    //box-sizing: content-box !important;
  }
}

%flexbox {
  display: flex;
  flex-wrap: wrap;
}

@import "reset.css";
@import "header";
@import "content";
@import "footer";

body {
  max-height: 100vh;
  overflow: hidden;
  background: url("../img/main-bg.jpg") no-repeat center / 100% 100%;
}

html, body {
  height: 100%;
}

section, .header, .footer {
  box-sizing: border-box;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  display: block;
  flex-grow: 1;
  @include screen-1024 {
    overflow: auto;
  }
}

